#event_form.modal.fade role="dialog"
  .modal-dialog.form-dialog
    .modal-content
      .modal-header
        button type="button" class="close" data-dismiss="modal" &times;
        h4 class="modal-title"
      .modal-body
      .modal-footer
        button type="button" class="btn btn-success" =t('events.btn_save')
        button type="button" class="btn btn-default" data-dismiss="modal" =t('events.btn_cancel')

javascript:
  $(".my_event").click(function(){
    var url = "/events/"+$(this).attr("id")+"/edit";
    $.get(url, function(data){
      $("#event_form").modal();
      $("#event_form .modal-title").html("#{t('events.title_edit')}");
      $("#event_form .modal-body").html(data);
    });
  });
  $(".for_new").click(function(){
    var url = "/events/new";
    $.get(url, function(data){
      $("#event_form").modal();
      $("#event_form .modal-title").html("#{t('events.title_new')}");
      $("#event_form .modal-body").html(data);
    });
  });
  $(".btn-success").click(function(){
    $(".btn-save_event").click();
  })
