 @import "bootstrap-sprockets";
 @import "bootstrap";
 // import bootstrap-sprockets before bootstrap if using bootstrap >= 3.2
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'rails_bootstrap_forms';
@import 'fullcalendar';

.navbar-default {
  background-color: rgb(246, 246, 246);
}
.navbar-right {
  margin-left: 10px;
}
.glyphicon {
  margin-right: 5px;
}
.btn-primary {
  background-color: rgb(64, 121, 171);
  border-color: rgb(229, 237, 244);
}
h2 {
  margin-top: 80px;
}
h2.in_modal {
  margin-top: 0;
  text-align: center;
}
.my {
  margin-top: 12px;
}
.create {
  margin-top: 80px;
}
.btn-xs {
  margin-left: 15px;
}
.description {
  margin: 20px;
  color: rgb(95, 94, 97);
}
.in_show {
  float: right;
}
.notice {
  background-color: rgba(247, 177, 177, 0.73);
  width: 100%;
  height: 5%;
  text-align: center;
}
.fc-sat, .fc-sun {
  background-color: rgba(#da4300, 0.1);
}
#calendar {
  width: 100%;
  margin-bottom: 50px;
}
.fc-past {
  background-color: #c2c7d2;
  opacity: 0.5;
}
.fc-day-header {
  background-color: white;
}
.fc-unthemed th, .fc-unthemed td{
  border-color: #cecbcb;
}
#new_event {
  background-color: white;
  margin: 20px auto;
  max-width: 400px;
  padding: 20px 40px;
  border: 2px solid #c2c7d2;
  border-radius: 10px;
}
.form-control {
  width: 300px;
}
p {
  min-width: 200px;
}
